
body{
  background-image: url('img1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  width:100%; 
  background-position: center center;
  margin: 0;
  padding: 0;
  color: white;
}  


#top-container{
  text-align: center;
  margin: 20px 50px 10px 50px;
  font-weight: bolder;
  font-size: 60px;
  font-family: 'Nunito Sans',sans-serif;
}


#top-container h2{
  padding: 0;
  margin: 0;
}

#down-container{
  position: relative;
  top: 180px;
  text-align: center;
}
.btn{
  display: inline;
  padding:0px 35px 0px 0px; 
}

a{
  text-align: center;
  font-size: 25px;
  padding: 5px 10px 2px 10px;
  font-family: 'Nunito Sans',sans-serif;
  font-weight: bold;
  border-radius: 5px;
  border:2px solid white;
  background-color: white;
  color: #333;
  text-decoration: none;

}
a:hover{
  cursor: pointer;
  background-color: #333;
  color: white;

}

@media screen and (max-width:767px ){
  .btn{
    display: block;
    padding-top: 25px;
  }

 #top-container{
  font-size: 45px;
 }

}