canvas {
    padding: 0;
    margin:20px auto;
    display: block;
    width: 500px;
    height: 600px;
    cursor: pointer;

    border:3px solid rgb(204, 204, 204);
}
body{
  background-color:#333;
  cursor: not-allowed;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
p{
  text-align: center;
}
button{
  padding: 5px 10px;
  text-align: center;
  background-color:rgb(39, 39, 39);
  color: rgb(204, 204, 204);
  font-family:Noto Sans KR,sans-serif;
  border:2px solid  rgb(204, 204, 204);
  border-radius: 4px;
  font-weight: bold;
  font-size: 25px;
  visibility: hidden;
}
button:hover{
  color:rgb(39, 39, 39);
  background-color: rgb(204, 204, 204);
  border: 2px solid rgb(39, 39, 39);
  cursor: pointer;

}
